@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Space Mono", monospace;
}

h1,
h2,
h3,
h4 {
  color: rgb(54, 53, 53);
}

@import "./player", "./song", "./library";
